<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 [COMPANY]. All rights reserved.
 * 
 * Omid_TaskManager Dependency Injection to generat tasks grid via uiComponents 
 * and KnokoutJs
 * 
 * @category    Omid_TaskManager
 * @author      Omid
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Omid\TaskManager\Model\ResourceModel\Task\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">omid_task_manager</argument>
            <argument name="resourceModel" xsi:type="string">Omid\TaskManager\Model\ResourceModel\Task</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="taskmanager_task_grid_data_source" xsi:type="string">Omid\TaskManager\Model\ResourceModel\Task\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
